<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Hallo <%= @user.name %>!</h1>

  <p>Ihr Zugang zur Blogvision-Studie "<%= @study.title %>" wurde eingestellt.</p>

  <p>
    Mit freundlichen Grüßen,<br>
    Ihr Blogvision-Team
  </p>
</body>
</html>
