/** Confirm Dialog
 =================================================== */
.dialog {
  background: #fff;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 6px 10px;
  text-align: left;
  width: 340px;

  h4 {
    margin-bottom: 20px;
  }
}
