<%= page_title('conversations.index.header') %>

<%- if @conversations.count > 0 -%>
  <ul class="conversations">
    <%- @conversations.each do |conversation| -%>
      <%= render 'conversations/listitem', :conversation => conversation, :show_author => true %>
    <%- end -%>
  </ul>
<%- end -%>
<%- if @conversations.count == 0 -%>
  <p class="info"><%=t '.no_messages' %></p>
<%- end -%>
