/** Question-Module - Likert Scale
 =================================================== */
input.question-extremes {
  margin-right: 10px;
  width: 110px;
}

.likert-table {
  width: 100%;

  .left-extreme {
    whitespace: nowrap;
  }
  .right-extreme {
    text-align: right;
    whitespace: nowrap;
  }

  .options {
    width: 30%;
  }
  .checkbox {
    text-align: center;
    padding: 2px 3px 0;
    width: 5%;
  }

  &.display {
    .box {
      background: $color-white;
      border: 1px solid $color-action;
      @include box-shadow(1px 1px 6px $color-shadow);
      display: inline-block;
      margin-top: 2px;
      width: 12px;
      height: 12px;
    }
    .checked.box {
      background: $color-accent;
    }
  }
}
